


@media (min-width: 850px){
    .container {
        padding: 0;
    }
    .nav{
        position: static;
        width: auto;
        display: flex;
        overflow: visible;
        max-height: none;
        justify-content: flex-end;
        align-items: center;
        background: none;
        box-shadow: none;
        padding: 0;

        & ul {
            display: flex;
            gap: 30px;

            & li {
                margin: 0;
            }
        }
    }
    .nav__toggle {
        display: none;
    }
    .hero {
        flex: 1;
      }
      
      /* Cambiar frase en desktop */
      .hero__quote.mobile,
      .hero__quote.tablet {
        display: none;
      }
      
      .hero__quote.desktop {
        display: block;
        font-size: 2.5rem;
        line-height: 1.2;
      }
      
      .hero__text {
        max-width: 900px;
      }

      /*-------------------------------about page------------------------------**/

      .about {
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
      }
      .about__img {
        flex: 1;
        max-width: 480px;
      }
      .about__me {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
      .about__text {
        gap: 18px;

        & p {
          max-width: 55ch;
        }
      }
      .about h2 {
        margin-bottom: 12px;
      }

      .btn {
        padding: 12px 70px;
        align-self: center;
      }
}